.container {
  background: var(--bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
  max-width: var(--container-width);
  margin: 0 auto 20px;
  border-radius: 4px;
}
.wrapper-search {
  display: flex;
  gap: 6px;
  margin-bottom: 10px;
}
.wrapper-options {
  display: flex;
  justify-content: space-between;
  gap: 6px;
}
.btn-search-desktop {
  display: none;
}
.btn-search-mobile {
  display: block;
}

@media (min-width: 700px) {
  .container {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    margin-bottom: 40px;
  }
  .wrapper-search,
  .wrapper-options {
    flex: 1;
    margin: 0;
  }
  .btn-search-desktop {
    display: block;
    align-self: flex-end;
  }
  .btn-search-mobile {
    display: none;
  }
}
